/* Empty. Add your own CSS if you like */

.exercise_graph {
	height: 50vh;
	/* below styles just for placeholding */
	line-height: 50vh;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	

}