<div id="exercise_info" class="list card">
	<div class="item item-divider">
		Exercise Name
	</div>
	<label class="item item-input">
		<input type="text" placeholder="Exercise Name" name="exercise_name" />
	</label>
</div>

<div id="exercise_category" class="list card">
	<div class="item item-divider">
		Exercise Category
	</div>
	<label class="item item-radio">
		<input type="radio" name="group">
		<div class="item-content">
			Free Weights
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

	<label class="item item-radio">
		<input type="radio" name="group">
		<div class="item-content">
			Circuit
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

	<label class="item item-radio">
		<input type="radio" name="group">
		<div class="item-content">
			Resistance
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
</div>

<div id="" class="list card">
	<div class="item item-divider">
		Starting Weight (optional)
	</div>
	<label class="item item-input">
		<input type="text" placeholder="Starting Weight" name="start_weight" />
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Starting Reps" name="start_Reps" />
	</label>
</div>

<div class="row responsive-sm">
	<div class="button button-balanced" class="col" style="margin: 0 5em;">
		Save
	</div>
</div>








