<div id="exercise_info" class="list card">
	<div class="item item-divider">
		Exercise Name 
	</div>
	<label class="item item-input">
		<input type="text" placeholder="Exercise Name" name="exercise_name" ng-model="form_exercise.name" />
	</label>
</div>

<div id="exercise_category" class="list card">
	<div class="item item-divider">
		Exercise Category
	</div>
	<label class="item item-radio">
		<input type="radio" name="group" value="Free Weights" ng-model="form_exercise.category">
		<div class="item-content">
			Free Weights
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

	<label class="item item-radio">
		<input type="radio" name="group" value="Circuit" ng-model="form_exercise.category">
		<div class="item-content">
			Circuit
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>

	<label class="item item-radio">
		<input type="radio" name="group" value="Resistance" ng-model="form_exercise.category">
		<div class="item-content">
			Resistance
		</div>
		<i class="radio-icon ion-checkmark"></i>
	</label>
</div>

<div id="" class="list card">
	<div class="item item-divider">
		Starting Weight (optional)
	</div>
	<label class="item item-input">
		<input type="text" placeholder="Starting Weight" name="start_weight" ng-model="form_exercise.workouts[0].sets[0].weight" />
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Starting Reps" name="start_reps" ng-model="form_exercise.workouts[0].sets[0].reps" />
	</label>
</div>

<div class="row responsive-sm">
	<div class="button button-balanced" class="col" style="margin: 0 5em;" ng-click="addExercise();">
		Save
	</div>
</div>








