<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Edit Set</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="edit_set.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
		<!-- do it -->
		<div class="list list-inset" ng-repeat="set in sets" ng-include src="'templates/_set_form.html'"></div>
		<br />
		<div class="row responsive-sm">
			<div class="button button-balanced" class="col" style="margin: 0 5em;" ng-click="saveSet();">
				Save
			</div>
		</div>
	</ion-content>
</ion-modal-view>