<ion-view view-title="{{ exercise.name }}" ng-init="loadExercise()" cache-view="false">
	<ion-content>
  	<canvas class="exercise_graph" id="linechart">
		
		</canvas>
		<!-- graphing js -->
		<div class="row">
			<div class="col" style="text-align: right;">
				<a href="/#/app/workouts/add/{{ exercise.id }}">
					<i class="icon ion-plus positive" style="font-size: 2em;"></i>
				</a>
			</div>
		</div>
		<div class="workouts_list">
			<ion-list>
				<ion-item ng-repeat="workout in exercise.workouts" ng-click="showWorkout($index)";>
					{{ workout.date }}
				</ion-item>
			</ion-list>
		</div>
  </ion-content>
</ion-view>