<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ exercise.name }} {{ exercise.created }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWorkout()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
		<h2 style="margin: .5em;">Sets</h2>
		<div class="list list-inset">
			<div class="row header item"><!-- header row -->
				<div class="col">Weight</div>
				<div class="col">Reps</div>
				<div class="col">Duration</div>
			</div><!-- end header row, content repetition -->
			<div class="row item {{ $odd ? 'odd' : 'even' }}" ng-repeat="set in workout.sets">
				<div class="col">
					{{ set.weight }} {{ set.units }}
				</div>
				<div class="col">
					{{ set.reps }}
				</div>
				<div class="col">
					{{ set.duration }}
				</div>
			</div><!-- end repeating div row -->
		</div>
	</ion-content>
</ion-modal-view>