<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ exercise.name }} {{ exercise.created }}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeWorkout()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
		<h2 style="margin: .5em;">Sets</h2>
		<span ng-include src="'templates/_set.html'"></span>
		<div class="row">
			<div class="col" style="text-align: right;">
				<a href="#">
					<i class="icon ion-plus positive" style="font-size: 2em;"></i>
				</a>
			</div>
		</div>
	</ion-content>
</ion-modal-view>